<ion-content [fullscreen]="true">

  <ion-segment>
    <ion-segment-button value="candies" content-id="first">
      <ion-label>Dulces</ion-label>
    </ion-segment-button>

    <ion-segment-button value="drinks" content-id="second">
      <ion-label>Bebidas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="meats" content-id="third">
      <ion-label>Carnes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="first">First</ion-segment-content>
    <ion-segment-content id="second">Second</ion-segment-content>
    <ion-segment-content id="third">Third</ion-segment-content>
  </ion-segment-view>

</ion-content>
